<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Informática</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 text-gray-800">

    <header class="bg-blue-500 text-white p-4">
        <div class="max-w-7xl mx-auto flex justify-between items-center">
            <a href="{{ url_for('product_bp.index') }}" class="mr-4"><h1 class="text-3xl font-bold">Loja de Informática</h1></a>
            <nav class="flex items-center">
                <a href="{{ url_for('auth.login') }}" class="mr-4">Login</a>
                <a href="{{ url_for('auth.signup') }}" class="mr-4">Cadastrar</a>
                <a href="{{ url_for('auth.logout') }}" class="mr-4">Sair</a>
                <a href="{{ url_for('item_controller.index') }}">Ver todas as tarefas</a>
                <!-- Link para o Carrinho -->
                <!-- Link para o Carrinho -->
                <a href="{{ url_for('cart_bp.view_cart') }}" class="mr-4">
                    <span>Carrinho</span>
                    {% if session.get('cart') %}
                        <span class="bg-red-500 text-white text-xs px-2 py-1 rounded-full ml-2">{{ session['cart'] | length }}</span>
                    {% endif %}
                </a>
            </nav>
        </div>
    </header>

    <main class="mt-8">
        <form method="get" action="{{ url_for('product_bp.index') }}" class="flex justify-center mb-6">
            <input 
                type="text" 
                name="q" 
                placeholder="Buscar produtos..." 
                value="{{ query }}" 
                class="border rounded-l px-4 py-2 w-2/3"
            >
            <button 
                type="submit" 
                class="bg-blue-500 text-white px-4 py-2 rounded-r hover:bg-blue-700"
            >
                Buscar
            </button>
        </form>
        
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-gray-800 text-white p-4 mt-8 text-center">
        <p>© 2024 Loja de Informática</p>
    </footer>
</body>
</html>
